html{
    background-color: #BFBFBF;
    height: 100%;
}
body{
    background-color: white;
    padding-left: 5px;
    padding-right: 5px;
    border:1px solid black;
    height: 100%;
}
header{
    background-color:#008512;
    outline:#00570C solid 1px;
    color:white;
    text-align:left;
    padding-top:1px;
    padding-bottom:1px;
    margin-bottom:2px;
    margin-top: 2px;
}
header img{
    position: relative;
    top: -8px;
    right: 8px;
}
nav{
    background-color:#61D0FF;
    border:1px solid black;
    text-align:center;
    margin-bottom: 20px;
}
nav ul{
    margin-left: 0;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}
nav li{
    border:1px solid black;
    text-align:center;
    display: inline;
    padding-left: 2px;
    padding-right: 2px;
}
nav li:hover{
    color: white;
    background-color:#0089C4;
}
.news{
    margin-top: 2px;
    margin-bottom: 2px;
    background-color: #FF7070;
    border:1px solid black;
    color: white;
}
.news h3{
    margin-top: 0;
    margin-bottom: -9px;
}